@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color: #101622;
        @apply bg-background-dark text-white font-sans antialiased;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .filled {
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
}